@charset "UTF-8";

.container {

    margin-top: 30px;
    margin-bottom: 100px;
}
.logo {
    height : 75px;
    width: auto;
    margin-top: 100px;
    text-align: center;
    display: block;
}

.logoImg{
    height:100%;
}

.between {
    height:20px;
}
.form-label {
    display: block;
}
.form20 {
    display: inline;
    width: 20%;
}
.form25 {
    display: inline;
    width: 25%;
}
.form30 {
    display: inline;
    width: 30%;
}
.form_option {
    font-size: 14px;
    color: #333;
}