@charset "UTF-8";
.container {
    display: block;
    margin-top: 10px;
    margin-bottom: 100px;
}

.logo {
    height : 75px;
    width: 254px;
    margin: 50px auto 0 auto;
    display: block;
}

.logoImg{
    height:100%;
}

.result {
    font-size: 14px;
    color: #555;
}
.r_false {
    color: red;
}
.join-option {
    font-size: 14px;
    color: #555;
}
.txt_pwd_form {
    color: red;
}
.join_topMenu {
	margin: 50px auto 0;	
}
.join_topMenu a {
	color: #555;
	font-size: 14px;
}
.join_topMenu a:hover {
	color: #333;
}
.join-title {
	text-align: center;
	margin: 0 0 40px 0;
}