@charset "UTF-8";

.container {
    display: block;
    margin-top: 30px;
    margin-bottom: 100px;
}

.logo {
    height : 75px;
    width:150px;
    margin: 100px auto 0 auto;
    display: block;
    transform: translate(-50%,-50%);
}

.logoImg{
    height:100%;
}